.main {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 64px auto 64px;
  grid-template-areas:
    'a a'
    'b c'
    'd d';
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background: #dfe0e2;

  .main__header {
    grid-area: a;
  }

  .main__sidebar {
    grid-area: b;
  }

  .main__content {
    grid-area: c;
  }

  .main__footer {
    grid-area: d;
  }
}
